<div class="wrapper">
      <!------------------------------- Nav bar ---------------------------------------->
      <header class="header">
        <nav class="header-container">
          <div class="header-burger">
            <span></span>
          </div>
          <ul class="menu-list">
            <li class="menu-item">
              <a class="nav-link" href="./work.html">Works</a>
            </li>
            <li class="menu-item">
              <a class="nav-link focused" href="#">Blog</a>
            </li>
            <li class="menu-item">
              <a class="nav-link" href="">Contact</a>
            </li>
            <li class="menu-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="page">
        <div class="blog-container container">
          <div class="blogs-content">
            <h1 class="page-heading">Blog</h1>

            <!------------------------------------- 1 Blog --------------------------------------->
            <a href="">
              <h2 class="blog-title">UI Interactions of the week</h2></a
            >
            <pre
              class="date-and-scope"
            ><time datetime="2019-02-12">12 Feb 2019</time>      |      <span class="express">Express, Handlebars</span></pre>
            <p class="blog-discription">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="line"><hr /></div>

            <!------------------------------------- 2 Blog --------------------------------------->

            <a href="">
              <h2 class="blog-title">UI Interactions of the week</h2></a
            >
            <pre
              class="date-and-scope"
            ><time datetime="2019-02-12">12 Feb 2019</time>      |      <span class="express">Express, Handlebars</span></pre>
            <p class="blog-discription">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="line"><hr /></div>
            <!------------------------------------- 3 Blog --------------------------------------->

            <a href="">
              <h2 class="blog-title">UI Interactions of the week</h2></a
            >
            <pre
              class="date-and-scope"
            ><time datetime="2019-02-12">12 Feb 2019</time>      |      <span class="express">Express, Handlebars</span></pre>
            <p class="blog-discription">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="line"><hr /></div>
            <!------------------------------------- 4 Blog --------------------------------------->

            <a href="">
              <h2 class="blog-title">UI Interactions of the week</h2></a
            >
            <pre
              class="date-and-scope"
            ><time datetime="2019-02-12">12 Feb 2019</time>      |      <span class="express">Express, Handlebars</span></pre>
            <p class="blog-discription">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="line"><hr /></div>
          </div>
        </div>
      </main>
      <!-------------------------------------- Footer ------------------------------------------>
      <footer>
        <div class="footer-container container">
          <div class="footer-content">
            <div class="vector-icons">
              <object type="image/svg+xml">
                <a href="" target="_blank"
                  ><img
                    alt="Facebook icon"
                    src="./images/Vector_icons_svg/fb.svg"
                /></a>
              </object>
              <object type="image/svg+xml">
                <a href="" target="_blank"
                  ><img
                    alt="Instagram icon"
                    src="./images/Vector_icons_svg/insta.svg"
                /></a>
              </object>
              <object type="image/svg+xml">
                <a href="" target="_blank" class="svg"
                  ><img
                    alt="Group icon"
                    src="./images/Vector_icons_svg/Group.svg"
                /></a>
              </object>
              <object type="image/svg+xml">
                <a href="" target="_blank"
                  ><img
                    alt="Linkedin icon"
                    src="./images/Vector_icons_svg/Linkedin.svg"
                /></a>
              </object>
            </div>
            <div class="copyright">Copyright ©2020 All rights reserved</div>
          </div>
        </div>
      </footer>
    </div>